body{
    padding: 0px;
    margin: 0px;
}

#btn{
    margin: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

#text{
    margin-top: 50px;
    margin-left: 45%;
}
#btn1{
    padding: 10px;
    margin: 5px;
    background-color: darkkhaki;
}
#btn2{
    padding: 10px;
    background-color: red;
    margin:5px;
}
#btn3{
    padding: 10px;
    background-color: blue;
    margin: 5px;
}






