body{
    padding: 0px;
    margin: 0px;
}
#input{
    border-style: none;
}

.container{
    height: 300px;
    width: 250px;
    background-color:skyblue;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 50%;
    margin-top: 10%;

}
.main{
    padding: 40px;


}